.game-window{
    width: 80vh;
    height: 80vb;
    border: 1px solid black;
    background-color: rgb(56, 56, 56);
    margin-top: 10px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
}